<div>
  <mat-card *ngIf="assignmentTransmis">
    <mat-card-title>Nom devoir : {{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle class="espacement">date de rendu : {{assignmentTransmis.dateDeRendu | date: 'dd/MM/YYYY'}}</mat-card-subtitle>
    <p class="class-flex align-items-center espacement"><mat-icon style="margin-right: 20px">person_pin</mat-icon>Nom de l'auteur : {{assignmentTransmis.eleve.nom}}</p>
    <mat-accordion class="espacement">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="class-flex">
            Matière - {{assignmentTransmis.matiere.nom}}
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>info</mat-icon>Cliquez pour plus d'informations
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="align-items-center title"><img class="img-matiere" [src]="assignmentTransmis.matiere.imgMatiere"/> Nom matière : {{assignmentTransmis.matiere.nom}}</p>
        <p style="margin-top: 10px" class="title">Présenté par : {{assignmentTransmis.matiere.nomEnseignant}}</p>
        <img [src]="assignmentTransmis.matiere.imgProf" style="width: 200px; height: 200px;">
      </mat-expansion-panel>
    </mat-accordion>

    <p class="espacement" *ngIf="assignmentTransmis.rendu">Note : {{assignmentTransmis.note === null ? 'Le prof n\'a pas encore noté' : assignmentTransmis.note+'/20'}}</p>
    <p class="espacement" *ngIf="assignmentTransmis.rendu">Remarque du prof : {{assignmentTransmis.remarque === null ? 'Le prof n\'a pas encore ou mis de remarque' : assignmentTransmis.remarque}}</p>
    <div class="container-bouton">
      <div>
        <mat-slide-toggle (change)="handleUpdateAssignment()" [(ngModel)]="isChecked">{{isChecked ? 'Devoir rendu' : 'Devoir pas rendu'}}</mat-slide-toggle>
      </div>
      <button mat-flat-button color="accent" class="deleteButton" (click)="handleDeleteAssignment()">   Supprimer le devoir
      </button>
    </div>
  </mat-card>
</div>

