<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Nom du devoir obligatoire, veuillez préciser un nom" >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Donner un nom à votre devoir</ng-template>
      <mat-form-field class="form-input" appearance="fill">
        <input matInput name="nom" placeholder="Nom du devoir" required formControlName="firstCtrl" [(ngModel)]="nomDevoir">
      </mat-form-field>
      <div>
        <button mat-stroked-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Matière obligatoire, veuillez préciser une matière" >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Préciser la matière</ng-template>
      <mat-form-field class="form-input" appearance="fill">
        <mat-select name="matiere" placeholder="Choisir une matière" [(ngModel)]="matiere" required formControlName="firstCtrl">
          <mat-option *ngFor="let matiere of listMatiere" [value]="matiere">
            {{matiere.nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="group-btn">
        <button mat-stroked-button matStepperPrevious class="btn-retour">Retour</button>
        <button mat-stroked-button matStepperNext class="btn-suivant">Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Élève obligatoire, veuillez préciser un élève" >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Préciser l'élève</ng-template>
      <mat-form-field class="form-input" appearance="fill">
        <mat-select name="eleve" placeholder="Choisir un élève" [(value)]="auteur" [(ngModel)]="auteur" required formControlName="firstCtrl">
          <mat-option *ngFor="let eleve of listEleve" [value]="eleve">
            {{eleve.nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="group-btn">
        <button mat-stroked-button matStepperPrevious class="btn-retour">Retour</button>
        <button mat-stroked-button matStepperNext class="btn-suivant">Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Date de rendu obligatoire, veuillez préciser une date">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Préciser une date de rendu</ng-template>
      <mat-form-field appearance="fill" class="form-input">
        <input matInput [matDatepicker]="picker"
               placeholder="Date de rendu"
                name="date" required [(ngModel)]="dateDeRendu" formControlName="secondCtrl">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="group-btn">
        <button mat-stroked-button matStepperPrevious class="btn-retour">Retour</button>
        <button mat-stroked-button matStepperNext class="btn-suivant">Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ajouter le devoir</ng-template>
    <div class="container-bouton">
        <button type="button" mat-flat-button color="accent" class="ajouterBtn"
                (click)="onSubmit()" style="margin-right: 20px"
        >   Ajouter Assignment
        </button>
    </div>
    <div class="group-btn">
      <button mat-stroked-button matStepperPrevious class="btn-retour">Retour</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
